{% layout "login" %}

{% block content %} 
<div class="row">
	<div class="large-8 large-centered columns">
		<div class="panel {{ mixture.url }}">
			<h2>{{ title }}</h2>
			
				<div class="row">
					<div class="large-6 small-6 columns">
						<h3>{{ global.artist }}</h3>
						<p>{{ message-artist }}</p>
						<a href="sign-in" class="button small radius">Crear Perfil</a>
					</div>
					<div class="large-6 small-6 columns">
						<h3>{{ global.call }}</h3>
						<p>{{ message-call }}</p>
						<a href="sign-in" class="button small radius">Crear Convocatoria</a>
					</div>
				</div><!--/row-->
			
		</div><!--/panel-->
	</div><!--col-->
</div><!--/row-->

{% endblock %}