	<h4>Información de contacto</h4>
	<p>Web: <strong><a href="http://{{ model.website }}">{{ model.website }}</a></strong></p>
	<p>Correo: <strong><a mailto="{{ model.mail }}">{{ model.mail }}</a></strong></p>
	<p>Teléfono: <strong>{{ model.phone }}</strong></p>
	<p>Dirección: <strong>{{ model.address }}</strong></p>
	