	<h4>Información de contacto</h4>
	<p>Web: <strong><a href="http://{{ website }}">{{ website }}</a></strong></p>
	<p>Correo: <strong><a mailto="{{ mail }}">{{ mail }}</a></strong></p>
	<p>Teléfono: <strong>{{ phone }}</strong></p>
	<p>Dirección: <strong>{{ address }}</strong></p>
	