<div class="panel awards">
	<div class="row">
		<div class="large-9 columns">
			<h4 class="subheader"><strong>Premios</strong> y reconocimientos</h4>
		</div>
		<div class="large-3 columns">
			<dl class="sub-nav right">
			  <dd class="active"><a href="http://">Agregar</a></dd>
			</dl>
		</div>
		
	</div>
	<div class="row">
		<div class="large-12 columns">
			<ul class="no-bullet">
			{% for item in model.awards %}
				<li><p><strong>{{ item.award }}</strong> / {{ item.institution }} / {{ item.work }} / {{ item.city }} {{ item.country }} / {{ item.year }}</p></li>
			{% endfor %}
			</ul>
		</div>
	</div>


</div>
