<div class="panel colec_exhibitions">
	<div class="row">
		<div class="large-9 columns">
			<h4 class="subheader">Exposiciones <strong>Colectivas</strong></h4>
		</div>
		<div class="large-3 columns">
			<a href="http://" class="label right round">Agregar</a>
		</div>
		
	</div>
	<div class="row">
		<div class="large-12 columns">
			<ul class="no-bullet">
			{% for item in model.exhibitions-col %}
				<li><p><strong>{{ item.name }}</strong> / {{ item.institution }} / {{ item.year }} / {{ item.city }} {{ item.country }} <br />{{ item.work }} / {{ item.media }} </p></li>
			{% endfor %}
			</ul>
		</div>
	</div>

</div>