

<div class="section-container tabs" data-section="tabs">
  <section>
    <p class="title" data-section-title><a href="#">Obras</a></p>
    <div class="content" data-section-content>
		
		<ul class="large-block-grid-4  small-block-grid-2">
				{% for item in model.works %}
					<li>
						<article class="work-item">
							<div class="work-item-img">
								<a href="#"><img src="{{ item.image }}" alt="{{ item.name }}" /> </a>
							</div>
							<header class="work-item-header">
								<h3 class="no-margin"><small><a href="#">{{ item.name }}</a></small></h3>
								<p class="x-small">{{ item.type }}, {{ item.duration }}, {{ item.year }}, {{ item.dimension }} </p>
							</header>
							
							<section class="work-item-description">
								<p class="small">{{ item.description | truncate: 120 }}</p>	
							</section>
						</article>
					</li>
				{% endfor %}
		</ul> 
  
    </div>
  </section>
  
  
  
  <section>
    <p class="title" data-section-title><a href="#">Proyectos</a></p>
    <div class="content" data-section-content>
      
      <ul class="large-block-grid-4 small-block-grid-2">
      		{% for item in model.works %}
      			<li>
      				<article class="work-item">
      					<div class="work-item-img">
      						<img src="{{ item.image }}" alt="{{ item.name }}" /> 
      					</div>
      					<header class="work-item-header">
      						<h3 class="no-margin"><small>{{ item.name }}</small></h3>
      						<p class="x-small">{{ item.type }}, {{ item.duration }}, {{ item.year }}, {{ item.dimension }} </p>
      					</header>
      					
      					<section class="work-item-description">
      						<p class="small">{{ item.description | truncate: 120 }}</p>	
      					</section>
      				</article>
      			</li>
      		{% endfor %}
      </ul>
      
    </div>
  </section>
</div>