{% layout "login" %}v

{% block content %} 
<div class="row">
	<div class="large-6 large-centered columns">
		<div class="panel {{ mixture.url }}">
			<h2>{{ title }}</h2>
			<p>{{ message }}</p>
			<form action="">
				<label>{{ global.password }}</label>
				<input type="password" placeholder="{{ global.password }}">
				<label>{{ global.re-password }}</label>
				<input type="password" placeholder="{{ global.re-password }}">
				<a href="#" class="button radius">{{ action }}</a> 
			</form>
			
		</div><!--/panel-->
	</div><!--col-->
</div><!--/row-->
{% endblock %}