{% block title %}Perfil de {{ global.user }} {% endblock %}


{% block content %} 

<section class="full-profile-work">
	<div class="full-portrait" >
		<img src="https://dl.dropboxusercontent.com/u/991960/teoria.jpg" alt="" class="full-img" />
	</div>
</section>

<header>
<div class="row">
	<div class="large-6 columns">
		 
		 <h2 class="no-margin">{{ global.user | truncate:15 }}<small class="subheader"> {{ city }}, {{ country }} | {{ age }} años</small></h2>
		 
			 <p>	
			 	{% for item in activities %}
			 		<span class="label primary radius">{{ item.activity }}</span>
			 	{% endfor %}
			 </p>
		
	</div>
	
	<div class="large-6 columns">
		<dl class="sub-nav right stream-filter">
		  <dd class="active""><a href="#">Tu perfil</a></dd>
		  <dd><a href="#">Tus convocatorias</a></dd>
		  <dd><a href="#">Tus exposiciones</a></dd>
		</dl>
	</div>
</div>
</header>


	<div class="row">
	 	<div class="sidebar-avatar">
	 		<a href="#"><img src="{{ global.user_img }}" class="th" /></a>
	 	</div>
	 	
	 	 <div class="sidebar" itemscope="" itemtype="http://schema.org/Person">
	 	 
	 	 <h4><a href="#">{{ global.user }}</a></h4>
	 	 <a href="#" class="button small primary"><span aria-hidden="true" data-icon="&#xe017;"></span> Seguir</a>
	 	 <a href="#" class="button small primary"><span aria-hidden="true" data-icon="&#xe00f;"></span> Mensaje</a>
	 	 <div class="details">
	 			<ul class="side-nav">
	 			  <li>{{ global.user_statement | truncate:200  }} <a href="#">Ver más</a></li>
	 				<li class="divider"></li>
	 			  <li><span aria-hidden="true" data-icon="&#xe027;"></span> Portafolio {{ global.user_url }}</li>
	 			  <li><span aria-hidden="true" data-icon="&#xe01b;"></span> Vive en {{ global.user_city }}, {{ global.user_country }}</li>
	 			  <li><span aria-hidden="true" data-icon="&#xe024;"></span> Estudió en {{ global.user_study | truncate:10 }}</li>
	 			  <li><span aria-hidden="true" data-icon="&#xe017;"></span> {{ global.user_follow }} personas lo siguen</li>
	 			  <li><span aria-hidden="true" data-icon="&#xe00b;"></span> Registrado desde {{ global.user_registry }} </li>
	 			</ul>
	 	 </div>
	 	 
	 	 </div>
	 </div>

<div class="row" itemscope="" itemtype="http://schema.org/Person" role="main">    

	

	
	<div class="large-12 columns">
		{% include "artist_resume" %}
	</div>
	
	<div class="large-12 columns">      
		<div class="panel">
			<div class="row">
				<div class="large-4 columns">
					<img src="https://dl.dropboxusercontent.com/u/991960/profile.jpg" />
				</div>
				<div class="large-4 columns">
					{% include "profile_sidebar" %}
				</div>
				<div class="large-4 columns">
					{% include "artist_contact" %} 
				</div>
			</div>
		</div>
	</div>
	

	<div class="large-12 columns">
		{% include "ind_exhibitions" %}
		{% include "colec_exhibitions" %}
		{% include "education" %}
		{% include "awards" %}
		{% include "featured_works" %}
	</div>

   
</div><!--/row-->
{% endblock %}