{% block title %}Perfil de {{ global.user }} {% endblock %}


{% block content %} 
<div class="row" itemscope="" itemtype="http://schema.org/Person" role="main">    

	<div class="large-12 columns">
	    <header>
	    <h2 class="no-margin">{{ global.user | truncate:15 }}<small class="subheader"> {{ city }}, {{ country }} | {{ age }} años</small></h2>
	    
		    <p>	
		    	{% for item in activities %}
		    		<span class="label primary radius">{{ item.activity }}</span>
		    	{% endfor %}
		    </p>
		</header>
	</div><!--/12 col-->

	
	<div class="large-12 columns">
		{% include "artist_resume" %}
	</div>
	
	<div class="large-12 columns">      
		<div class="panel">
			<div class="row">
				<div class="large-4 columns">
					<img src="https://dl.dropboxusercontent.com/u/991960/profile.jpg" />
				</div>
				<div class="large-4 columns">
					{% include "profile_sidebar" %}
				</div>
				<div class="large-4 columns">
					{% include "artist_contact" %} 
				</div>
			</div>
		</div>
	</div>
	

	<div class="large-12 columns">
		{% include "ind_exhibitions" %}
		{% include "colec_exhibitions" %}
		{% include "education" %}
		{% include "awards" %}
		{% include "featured_works" %}
	</div>

   
</div><!--/row-->
{% endblock %}