{% layout "login" %}

{% block content %} 
<div class="row">
	<div class="large-6 large-centered columns">
		<div class="panel {{ mixture.url }}">
			<h2>{{ title }}</h2>
			<p>{{ message }}</p>
			
			<form action="">
				<label>{{ global.mail }}</label>
				<input type="password" placeholder="{{ global.mail }}">
				<a href="recover-confirmation" class="button radius">{{ action }}</a> 
			</form>
			
		</div><!--/panel-->
	</div><!--col-->
</div><!--/row-->
{% endblock %}