{% layout "login" %}

{% block content %} 
<div class="auth-box">
	<div class="row">
		<div class="large-5 large-centered columns">
					<div class="panel ">
						<h3>Registro</h3>
						
						<form action="">
							<label>{{ global.mail }}</label>
							<input type="text" placeholder="{{ global.mail }}">
							<label>{{ global.password }}</label>
							<input type="password" placeholder="{{ global.password }}">
							<label>{{ global.re-password }}</label>
							<input type="password" placeholder="{{ global.re-password }}">
							<div class="right"><a href="select-profile" class="button hollow black big">Registrase</a> </div>
						</form>
						
					</div><!--/panel-->
				</div>
	</div><!--col-->
</div>

{% endblock %}